body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(0, 0, 0);
    min-height: 100vh;
}

#leyenda {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: rgb(250, 197, 100);
    text-align: center;
    align-items: bottom;
    font-family: sans-serif;
    font-size: 18px;
    opacity: 0
}

#clock-container {
    display: flex;
    position: relative;
    width: 60%;
    min-height: 60vh;
}

#mark1 {
    stroke: rgb(250, 197, 100);
    stroke-width: 4;
    stroke-dasharray: 0.5px 3.682022603px;
}

#mark2 {
    stroke: rgb(250, 197, 100);
    stroke-width: 6;
    stroke-dasharray: 1px 19.91011302px;
    fill: transparent;
}

#mark3 {
    fill: black;
}

#circle1 {
    fill: black;
    stroke: rgb(250, 197, 100);
    stroke-width: 3;
}

#circle2 {
    fill: rgb(196, 195, 195);
}

#hour, #min, #sec {
    stroke-width: 1px;
    fill: rgb(250, 197, 100);
}

#sec {
    stroke: red;
}

#cohetes {
    min-height: 20vh;
    opacity: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    animation: cohetes 10s ease-in-out infinite alternate, cohetesa 20s ease-in-out  infinite;
}


@keyframes cohetes {

    0%{
        transform: translateX(-20px);
    }

    50% {transform: translateX(30px);
    }

    100%{
        transform: translateX(-20px);
    }


}



@keyframes cohetesa {

    0%{
        transform: rotateY(0deg);
    }


    50%{
        transform: rotateY(360deg);
    }

    100%{transform: rotateY(0deg)}

}






#palo {
    stroke: white
}

/* Cohete 1 */

#cohete1 {
    width: 20%;
    fill: rgb(60, 60, 131);
    transform: rotate(10deg);
    position: relative;
    animation: cohete1 3s cubic-bezier(0.65, 0.09, 0, 0.69) infinite backwards;
}

@keyframes cohete1 {
    0% {
        top: 30vh;
        left: 5%;
    }
    100% {
    fill: rgb(60, 60, 131);
        
        top: -70vh;
        left: 5%;
        transform: rotate(-45deg);
    }
}


#pum1 {
    opacity: 0;
    fill: rgb(252, 203, 113);
    animation: pum1 3s ease-out infinite forwards;
    transform-origin: center;
}


@keyframes pum1 {
    0% {
        top: 0px;
    }
    80% {
        opacitY: 0;
        transform: scale(0)
    }
    100% {
        opacity: 1;
        transform: scale(1.2)
    }
}

#mecha1 {
    animation: mecha1 3s ease infinite forwards;
}

@keyframes mecha1 {
    0% {
        stroke: red;
        stroke-width: 40px;
    }
    25% {
        stroke: rgb(243, 209, 13);
        stroke-width: 30px;
    }
    100% {
        stroke: red;
        stroke-width: 0px;
    }
}

/* Cohete 2 */

#cohete2 {
    width: 20%;
    fill: rgb(88, 172, 88);
    transform: rotate(10deg);
    position: relative;
    animation: cohete2 3s cubic-bezier(0.74, -0.05, 0.26, 0.71) infinite 1s backwards;
    overflow: visible;
}

@keyframes cohete2 {
    0% {
        top: 30vh;
    }
    100% {
        top: -70vh;
        transform: rotate(45deg) translateX(15vw);
    }
}

#pum2 {
    opacity: 0;
    fill: rgb(239, 252, 0);
    animation: pum2 3s ease-out infinite 1s forwards;
    transform-origin: center;
}

@keyframes pum2 {
    0% {
        top: 0px;
    }
    80% {
        opacitY: 0;
        transform: scale(0)
    }
    100% {
        opacity: 1;
        transform: scale(1.3)
    }
}

#mecha2 {
    animation: mecha2 3s ease infinite 1s forwards;
}

@keyframes mecha2 {
    0% {
        stroke: red;
        stroke-width: 35px;
    }
    25% {
        stroke: rgb(243, 209, 13);
        stroke-width: 25px;
    }
    100% {
        stroke: red;
        stroke-width: 0px;
    }
}

/* Cohete 3 */

#cohete3 {
    width: 20%;
    fill: rgb(179, 60, 179);
    transform: rotate(10deg);
    position: relative;
    animation: cohete3 3s cubic-bezier(0.94, 0.04, 0.32, 0.73) infinite 2s backwards;
    overflow: visible;
}

@keyframes cohete3 {
    0% {
        top: 35vh;
    }
    100% {
        top: -70vh;
        transform: rotate(45deg) translateX(15vw);
    }
}

#pum3 {
    opacity: 0;
    fill: rgb(248, 234, 33);
    animation: pum3 3s ease-out infinite 2s forwards;
    transform-origin: center;
}

@keyframes pum3 {
    0% {
        top: 0px;
    }
    80% {
        opacitY: 0;
        transform: scale(0)
    }
    100% {
        opacity: 1;
        transform: scale(1.3)
    }
}

#mecha3 {
    animation: mecha3 3s ease infinite 2s forwards;
}

@keyframes mecha3 {
    0% {
        stroke: red;
        stroke-width: 45px;
    }
    25% {
        stroke: rgb(243, 209, 13);
        stroke-width: 35px;
    }
    100% {
        stroke: red;
        stroke-width: 0px;
    }
}